*.class
*.log
#scalastyle-config.xml

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# intelliJ IDEA specific
.idea

#repo token
coveralls.sbt

!.gitignore